html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.scene{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top:0;
    perspective:800px;
}
.scene .room{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top:0;
    transform-style:preserve-3d;
}
.scene .room .panel{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.room .panel:nth-child(1){
    transform-origin:top;
    transform:rotateX(90deg);
    background:url(../img/thb.jpg) no-repeat;
    background-size:100% 100%;

}
.room .panel:nth-child(2){
    background:url(../img/ad1.jpg) no-repeat;
    background-size:100% 100%;
    transform-origin:left;
    transform:rotateY(-90deg);
}
.room .panel:nth-child(3){
    background:url(../img/26.png) no-repeat;
    background-size:100% 100%;
}
.room .panel:nth-child(4){
     background:url(../img/ad.jpg) no-repeat;
    background-size:100% 100%;

    transform-origin:right;
    transform:rotateY(90deg);
}
.room .panel:nth-child(5){
    background: blue;
    transform-origin:bottom;
    transform:rotateX(-90deg);
    background:url(../img/db.jpg) no-repeat;
    background-size:100% 100%;
}
.room .panel:nth-child(6){
     background:url(../img/413.png) no-repeat;
    background-size:100% 100%;
    transform:translateZ(-500px);
}
.left{
    position: relative;
    width:100%;
    height:100%;
}
.bizhi{
    width:400px;
    height:550px;
    background:url(../img/aa.png);
    position:absolute;
    right:550px;
    top:10px;
    background-size: 100% 100%;
   
}
.tu1{
    display:block;
    position: absolute;
    right:85px;
    top:50px;
    width:180px;
    height:65px;
    font-family:'myicon';
    font-size:30px;
    z-index: 10;
    text-decoration: none

}
.wangyi{
    display:block;
    position:absolute;
    right:285px;
    top:100px;
    width:110px;
    height:65px;
    font-family:'myicon';
    font-size: 20px;
    z-index: 10;
    text-decoration: none

}
.app{
    display:block;
    position:absolute;
    right:130px;
    top:320px;
    width:180px;
    height:65px;
    font-family:'myicon';
    font-size: 35px;
    z-index: 10;
    text-decoration: none
}
.button{
    width:50px;
    height:50px;
    position: absolute;
    left:170px;
    bottom:10px;

}
.zhen{
    width:88%;
    height:76%;
    position: absolute;
    left:23px;
    top:72px;
    background:url(../img/true3.jpg);
    background-size:100% 100%;
    display:none;


}
.tubiao{
    width:60px;
    height:60px;
    float:left;
    margin-top:50px;
    margin-left: 40px;
    background:red;
    float:left;
}
.button1{
    width:20px;
    height:20px;
    position: absolute;
    left:500px;
    top:470px;

}
.dong{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:url(../img/true8.jpg);
    display:none;
}
.dong a{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}
.dong a img{
    width:100%;
    height:100%;
    display:block;
}
@font-face {
  font-family: "myicon";
  src: url('font/iconfont.eot'); /* IE9*/
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), 
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'), 
  url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.bike:before{
    content:"\e617"
}
.diann{
    width:420px;
    height:230px;
    background:#E4E8F3;
    position:absolute;
    left:300px;
    top:235px;
}
.anniul{
    width:20px;
    height:15px;
    background:#9F9CA4;
    position: absolute;
    left:230px;
    bottom:-17px;
    text-align: center;
    line-height: 15px;
    color:black;
    font-weight:bold;
    font-size:20px;
    cursor: pointer;
    border-radius: 20px;
}
.anniur{
    width:20px;
    height:15px;
    background:#9F9CA4;
    position: absolute;
    left:165px;
    bottom:-17px;
    text-align: center;
    line-height: 15px;
    color:black;
    font-weight:bold;
    font-size:20px;
    cursor: pointer;
    border-radius: 20px;
}