
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479518336943'); /* IE9*/
  src: url('iconfont.eot?t=1479518336943#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479518336943') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479518336943') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479518336943#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiye:before { content: "\e62d"; }

.icon-xinwen:before { content: "\e62c"; }

.icon-boke:before { content: "\e618"; }

.icon-gongzuojingli:before { content: "\e611"; }

.icon-wangye:before { content: "\e617"; }

.icon-che2:before { content: "\e60f"; }

.icon-mysqlshujuku:before { content: "\e7f8"; }

.icon-php:before { content: "\e685"; }

.icon-che3:before { content: "\e6c4"; }

.icon-che4:before { content: "\e8a0"; }

.icon-youxi:before { content: "\e65e"; }

.icon-che1:before { content: "\e63c"; }

